<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.navenautomations.Utils.CustomListener"/>
<listener class-name="com.naveenautomations.RetryLogic.TransformerForRetry"/>
<listener class-name="com.naveenautomations.Reports.ExtentReportListener"></listener>


</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.naeenautomations.Tests.YourStorePageTest"/>
      <class name="com.naeenautomations.Tests.AccountLoginTest"/>
    </classes>
  </test> <!-- Test --> 
</suite> <!-- Suite -->
